.custom-fab {
  --background: #91b3a2; 
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 

}

.grid-item {
  background: #fff;
  overflow: hidden; 
}

.image-container {
  width: 100%; 
  height: 100px; 
}

ion-img {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}
