.custom-header {
    --background: #fb0021;
  }


.custom-icon {
    color: #be1a35;
}

.custom-input{
    border: 2px solid #6e6e6e; 
    border-radius: 8px; 
    padding: 10px;
}

.form__errorMessage{
    color: red;
    font-size: 110%;
}

.sinllenar{
    border: 2px solid red
}

.nombrepagina{
    color: red;
    font-weight: bold;
    text-align: center;
    font-size: large;
}

.custom-button{
    --background: #89b09d;
    color: #0b654c;

}

.profile-image { /* Cambia el valor según lo que necesites */
    height: 70%; /* Cambia el valor según lo que necesites */
    object-fit: cover; /* Para mantener la relación de aspecto */
  }